{% extends 'base.html' %}

{% block title %}
    Смена пароля
{% endblock %}

{% block login %}
    <div class="container justify-content-center">
        <div class="col-6">
        {#  <div class="row">Текущий пароль - {{ request.user.password }}</div> #}
            <form method="post"> {% csrf_token %}
                {# <label for="username">Новый логин</label> #}
                {# <input type="text" name="username" id="username"><br/> #}
                {# {% if login_error %} #}
                {# <label class="error">{{ login_error }}</label> #}
                {# {% endif %} #}
                {{ form.as_p }}
                <input class="button" type="submit" value="Подтвердить">
                <div class="label round secondary"><a href="/">Отмена</a></div>
            </form>
        </div>
    </div>
{% endblock %}