{% extends 'base.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block login %}
<div class="main-wrapper">
<div style="border-radius: 10px; background-color: lightskyblue; opacity: 50%; margin-left: 30%; margin-right: 30%; padding:1%">
        <div class="justify-content-center">
        <form class="justify-content-center" action="/auth/login/" method="post">{% csrf_token %}
        <div class="container" style="width: 100%; border-radius: 10px; margin-bottom: 5%; padding:5%; background-color: lightcyan;">
            <label for="email">Email</label>
            <input style="width:100%;" type="text" placeholder="Введите email" name="email" id="email"><br/>
        </div>
        <div class="container" style="width: 100%; border-radius: 10px; margin-bottom: 5%; padding:5%; background-color: lightcyan;">
            <label for="password">Пароль</label>
            <input style="width:100%;" type="password" placeholder="Введите пароль" name="password" id="password"><br/>
        </div>
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input class="btn btn-primary" type="submit" value="Войти">
        </form>
    </div>
</div>
</div>
{% endblock %}