{% extends 'base.html' %}

{% block title %}
Настройки
{% endblock %}

{% block content %}
<div class="main-wrapper">
    <div class="row">
    {% include 'back_button.html' %}
        <div class="col-8 justify-content-center">
        {% if experts %}
            {% for expert in experts %}
                <a class="row justify-content-center" href="{% url 'manager:expert_edit' id=expert.sys_id %}">
                    <h1>{{ expert.first_name }} {{ expert.last_name }}</h1>
                </a>
            {% endfor %}
        {% else %}
            <h1 style="text-align: center">
                В данный момент нет доступных экспертов
            </h1>
        {% endif %}
        </div>
        <div class="col-2 justify-content-center">
            <a href="/auth/register/"><button type="button" class="btn btn-primary">Регистрация</button></a>
        </div>
    </div>
</div>
{% endblock %}