{% extends 'base.html' %}

{% block title %}
Настройки
{% endblock %}

{% block style %}
<style>
.my-row{

}
.my-button{
    width: 100%;
    background-color: #ffe8a1;
    border-radius: 20px;
    height: 50px;
}
a{
    width: 100%
}
.main-wrapper {
    margin-left: 2%;
    margin-right: 2%;
}
</style>
{% endblock %}

{% block content %}
<div class="main-wrapper">
    <div class="row">
        <div class="col-2">
            <a href="/manager">
                <button class="btn btn-dark" >
                    <span>Назад</span>
                </button>
            </a>
        </div>
        <div class="col-8 justify-content-center">
            {% for expert in experts %}
                <a class="row justify-content-center" href="{% url 'manager:expert_edit' id=expert.sys_id %}">
                    <h1>{{ expert.first_name }} {{ expert.last_name }}</h1>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}