{% extends 'base.html' %}

{% block title %}
Меню
{% endblock %}

{% block content %}
<div class="main-wrapper row justify-content-center">
<div class="col-8 justify-content-center">
    <div class="row my-row">
        <a href="{% url 'manager:new' %}">
            <button class="button my-button" >
                <span>Новая тема(вопрос)</span>
            </button>
        </a>
    </div>
    <div class="row my-row">
        <a href="{% url 'manager:results' %}">
            <button class="button my-button" >
                <span>Результаты</span>
            </button>
        </a>
    </div>
    <div class="row my-row">
        <a href="{% url 'manager:settings' %}">
            <button class="button my-button" >
                <span>Настройки аккаунта</span>
            </button>
        </a>
    </div>
    <div class="row my-row">
        <a href="{% url 'manager:experts' %}">
            <button class="button my-button" >
                <span>Управление экспертами</span>
            </button>
        </a>
    </div>
</div>
</div>
{% endblock %}