{% extends 'base.html' %}

{% block title %}
Меню
{% endblock %}

{% block style %}
<style>
.my-row{
    margin: 15px;
}
.my-button{
    width: 100%;
    background-color: #ffe8a1;
    border-radius: 20px;
    height: 50px;
}
a{
    width: 100%
}
.main-wrapper {
    margin-left: 2%;
    margin-right: 2%;
}
</style>
{% endblock %}

{% block content %}
<div class="main-wrapper row justify-content-center">
<div class="col-8 justify-content-center">
    <div class="row my-row">
        <a href="{% url 'manager:new' %}">
            <button class="button my-button" >
                <span>Новая тема(вопрос)</span>
            </button>
        </a>
    </div>
    <div class="row my-row">
        <a href="{% url 'manager:results' %}">
            <button class="button my-button" >
                <span>Результаты</span>
            </button>
        </a>
    </div>
    <div class="row my-row">
        <a href="{% url 'manager:settings' %}">
            <button class="button my-button" >
                <span>Настройки аккаунта</span>
            </button>
        </a>
    </div>
    <div class="row my-row">
        <a href="{% url 'manager:experts' %}">
            <button class="button my-button" >
                <span>Управление экспертами</span>
            </button>
        </a>
    </div>
</div>
</div>
{% endblock %}