{% extends 'base.html' %}

{% block title %}
Настройки
{% endblock %}

{% block content %}

<div class="main-wrapper">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script>
        var glob = 0;
        $(function() {
            $("#generate_forms").click(function () {
                $("[name=form-TOTAL_FORMS]").val(glob);
                html = $("#form_template").clone().html().replace(/__prefix__/g, glob);
                $("#forms").append(html);
                glob++;
            })
        });
        $(function() {
            $("#submit_form").click(function () {
                $("[name=form-TOTAL_FORMS]").val(glob);
                html = $("#form_template").clone().html().replace(/__prefix__/g, glob);
                $("#forms").append(html);
                glob++;
            })
        });
        $(function () {
            $("#generate_image").click(function() {
                // update total form count
                //quantity = $("[name=quantity]").val();
                $("[name=form-TOTAL_FORMS]").val(1);

                html = $("#image_template").clone().html().replace("__prefix__", 1).hide();
                $("#images").append(html);

                // copy the template and replace prefixes with the correct index
                //for (i=0;i<quantity;i++) {
                // Note: Must use global replace here
                //};
            })
        })
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<form method="post">{% csrf_token %}
    <div class="row">
        {% include 'back_button.html' %}
        {% if experts %}
        <div class="col-7">
            <h3>Новая тема</h3>
            {{ form.as_p }}
            {{ formset.management_form }}
            <div style="display: none;" id="form_template">
                {{ formset.empty_form.as_p }}
{#                <div id="images"></div>#}
{#                <input type="button" id="generate_image" class="btn btn-light" value="Добавить картинку" />#}
            </div><!-- stores empty form for javascript -->
{#            <div style="display: none;" id="image_template">#}
{#                {{ image_formset.empty_form.as_p }}#}
{#            </div>#}
            <div id="forms"></div><!-- where the generated forms go -->
            <input type="button" id="generate_forms" class="btn btn-light" value="Добавить решение" />
            <button type="submit" id="submit_form" class="btn btn-primary">Подтвердить</button>
        </div>
        <div class="col-3">
            <h3>Приглашённые эксперты</h3>
            {% for expert in experts %}
                <input type="checkbox" name="expert{{ forloop.counter }}" checked> {{ expert.first_name }} {{ expert.last_name }}<br>
            {% endfor %}
        </div>
        {% else %}
        <div class="col-8">
            <h1 style="text-align: center">
                В данный момент нет доступных экспертов, которых можно пригласить для оценки решений данной проблемы
            </h1>
        </div>
        {% endif %}

    </div>
</form>
</div>
{% endblock %}