{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container">
<h1>{{ topic.name }}</h1>
<p>{{ topic.description }}</p>
    <form method="post"> {% csrf_token %}
{% for solution in solutions %}
    <h3>Решение №{{ forloop.counter }} {{ solution.name }}
        <input required="required" type="number" name="dec_field{{ forloop.counter }}" step="0.01"/>
    </h3>
    <p>{{ solution.description }}</p>
{% endfor %}
<button type="submit" class="btn-primary">
    <span>Подтвердить</span>
</button>
    </form>

</div>
{% endblock %}