<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    {% block style %}
    {% endblock %}
    <style>
        a{
            width: 100%;
        }
        .my-button{
            width: 100%;
            background-color: #ffe8a1;
            border-radius: 20px;
            height: 50px;
        }
        .main-wrapper {
            margin-left: 2%;
            margin-right: 2%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav mr-4">
        {% if request.user.email %}
            <li class="nav-item">
                <a href="/auth/logout/">Выйти ({{ request.user.email }})</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="/auth/login/">Войти</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% block content %}{% endblock %}
{% block login %}{% endblock %}
</body>
</html>